<div
  class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3"
  role="alert"
  x-data="{show: true, message: '<%= notice %>' }"
  x-on:click="show = false"
  x-show="message && show"
>
  <p x-text="message"></p>
</div>
